* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
  --CSF-Green-1: #219653;
  --CSF-Green-2: #27AE60;
  --CSF-Green-3: #6FCF97;
  --CSF-Blue: #2F80ED;
}

.CSF-PrimaryButton {
  color: #fff;
  background-color: var(--CSF-Green-1);
  padding: 12px 24px;
  font-weight: 700;
  font-size: large;
}
.CSF-PrimaryButton:hover {
  color: #fff;
  transition: 0.3s;
  background-color: var(--CSF-Blue);
  box-shadow: 0px 4px 16px rgba(17,17,26,0.05), 0px 8px 32px rgba(17,17,26,0.05);
  transform: scale(1.01 , 1.01);
  padding: 12px 24px;
  font-weight: 700;
  font-size: large;
}

@import url('https://fonts.googleapis.com/css?family=Poppins:400');

html {font-size: 87.5%;} /*14px*/

body {
  background: white;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  line-height: 1.75;
  color: #000000;
}

p {margin-bottom: 1rem;}

h1, h2, h3, h4, h5 {
  margin: 3rem 0 1.38rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  line-height: 1.3;
}

h1 {
  margin-top: 0;
  font-size: 3.052rem;
}

h2 {font-size: 2.441rem;}

h3 {font-size: 1.953rem;}

h4 {font-size: 1.563rem;}

h5 {font-size: 1.25rem;}

small, .text_small {font-size: 0.8rem;}

/* Login page Start */
.backToHome {
  position: absolute;
  top: 16px;
  right: 16px;
}

#login {
  min-height: 100vh;
}

.loginHero {
  display: none;
  min-height: 100vh;
  background-color: var(--CSF-Green-3);
}

.loginHero a {
  color: var(--CSF-Green-1);
  text-decoration: none;
}

.login {
  min-height: 100vh;
  text-align: center;
  margin: auto;
  padding: 48% 0;
}

.login h3 {
  font-weight: 700;
}

.login form {
  width: 80%;
  margin: auto;
}

.login button {
  width: 100% !important;
  margin-top: 24px;
}
/* Login page End */

/* Signup page Start */
#signup {
  min-height: 100vh;
}

.signupHero {
  display: none;
  min-height: 100vh;
  background-color: var(--CSF-Green-3);
}

.signupHero a {
  color: var(--CSF-Green-1);
  text-decoration: none;
}

.signupHero h5 {
  margin: auto;
}

.signup {
  min-height: 100vh;
  text-align: center;
  margin: auto;
  padding: 48% 0;
}

.signup h3 {
  font-weight: 700;
}

.signup form {
  width: 80%;
  margin: auto;
}

.signup button {
  width: 100% !important;
  margin-top: 24px;
}
/* Signup page End */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
    @import url('https://fonts.googleapis.com/css?family=Poppins:400');

    html {font-size: 87.5%;} /*14px*/

    body {
    background: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    line-height: 1.75;
    color: #000000;
    }

    p {margin-bottom: 1rem;}

    h1, h2, h3, h4, h5 {
    margin: 3rem 0 1.38rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    line-height: 1.3;
    }

    h1 {
    margin-top: 0;
    font-size: 3.052rem;
    }

    h2 {font-size: 2.441rem;}

    h3 {font-size: 1.953rem;}

    h4 {font-size: 1.563rem;}

    h5 {font-size: 1.25rem;}

    small, .text_small {font-size: 0.8rem;}
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    @import url('https://fonts.googleapis.com/css?family=Poppins:400');

    html {font-size: 112.5%;} /*18px*/

    body {
    background: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    line-height: 1.75;
    color: #000000;
    }

    p {margin-bottom: 1rem;}

    h1, h2, h3, h4, h5 {
    margin: 3rem 0 1.38rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    line-height: 1.3;
    }

    h1 {
    margin-top: 0;
    font-size: 3.052rem;
    }

    h2 {font-size: 2.441rem;}

    h3 {font-size: 1.953rem;}

    h4 {font-size: 1.563rem;}

    h5 {font-size: 1.25rem;}

    small, .text_small {font-size: 0.8rem;}

    /* Login page Start */
    #login {
      height: 100vh;
    }

    .loginHero {
      min-height: 100vh;
      display: block;
      background-image: url(/assets/img/illustration/Eating\ healthy\ food-cuate.svg);
      background-position: center;
      background-repeat: no-repeat;
      background-size:contain;
    }

    .login {
      min-height: unset;
      text-align: center;
      margin: auto !important;
      padding: unset;
    }

    .login form {
      width: 40%;
      margin: auto;
    }
    /* Login page End */

    /* Signup page Start */
    #signup {
      height: 100vh;
    }

    .signupHero {
      min-height: 100vh;
      display: block;
      background-image: url(/assets/img/illustration/Online\ Groceries-cuate.svg);
      background-position: center;
      background-repeat: no-repeat;
      background-size:contain;
    }

    .signupHero h5 {
      margin: auto;
    }

    .signup {
      min-height: unset;
      text-align: center;
      margin: auto !important;
      padding: unset;
    }

    .signup form {
      width: 40%;
      margin: auto;
    }
    /* Signup page End */
 }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    
 }

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    
 }